.card-banner-item {
  padding: 30px;
  border-radius: 8px;
  max-width: 1140px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  list-style-type: none;
  border: 1px solid #cbced2;
}

.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.heading {
  font-family: 'Roboto';
  font-size: 36px;
  color: #326a9d;
  font-weight: bold;
}
.para {
  font-family: 'roboto';
  color: #64748b;
  font-size: 14px;
}
.button {
  font-family: 'roboto';
  background-color: #ffffff;
  color: #326a9d;
  border: 2px solid #326a9d;
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
}
